*
{
    margin:0;
    padding:0;
}
header{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("ImagesUni.jpg");
    height:100vh;
    background-position:center;
    background-size:cover;
}
.nav-menu{
    float:right;
    list-style: none;
    margin: top 30px ;
}
.nav-menu li{
    display: inline;
}
.nav-menu li a{
    color: darkgoldenrod;
    text-decoration: none;
    padding: 5px 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}
.Home a{
    border: 1px salmon;
    background-color: seashell;
}
.nav-menu li a:hover{
    border: 1px salmon;
    background-color: seashell;
}